doctype html
html(class="no-js", lang="en")
  include partials/_header
  body
    .content
      h1.title Congratulations!
      p.desc You just made a one pager in a matter of seconds, feels good doesnt it?
      img(src='images/yo.png')
    script(src="js/scripts.js")
