doctype html
html(class="no-js", lang="en")
  include partials/_header
  body
    .content
      h1.title Congratulations!
      p.desc You just made a kitchen sink in a matter of seconds, feels good doesnt it?
